<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @issue.body %>
</p>

<p>
  <strong>Resolved:</strong>
  <span id="issue_resolved_status"><%= @issue.resolved %></span>
</p>

<p>
<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
</p>

<p>
  <% if @issue.resolved? %>
    <%= link_to "Reopen Issue", resolve_issue_path, method: :put, remote: true, class: "btn btn-danger", id: 'resolve_button' %>
  <% else %>
    <%= link_to "Resolve Issue", resolve_issue_path, method: :put, remote: true, class: "btn btn-warning", id: 'resolve_button' %>
  <% end %>
</p>
